<div class="botones-principal">
    {{#if login}}
        <a class="btn btn-primary" href="/realtimeproducts" role="button">Edición de Productos</a>

        <a class="btn btn-primary" href="/chat" role="button">CHAT</a>

        {{!-- <a class="btn btn-primary" href="/products" role="button">Productos Páginados</a> --}}

        <a class="btn btn-primary" href="/carts/657a105368dbce28a5484694" id="miCarrito" role="button">Mi Carrito</a>
    {{else}}
        <a class="btn btn-primary" href="/login" role="button">Login</a>

        <a class="btn btn-primary" href="/registrate" role="button">Registrate</a>
    {{/if}}
</div>