<br> 
<div class="row">
    <div class="col-12 botonLogout">
        <a class="btn btn-outline-secondary btn-sm w-10" href="/api/sessions/logout" role="button">Logout</a>
    </div>  
</div>

<div class="row">
    <div class="col-12">
        <h2>Websockets - Listado actualizado de Productos</h2>
    </div>
</div>

<br>

<ul>
    {{#each productos}}
        <li data-id={{this._id}}>Título: <strong>{{this.title}}</strong> - Descripción: {{this.description}} - Precio: {{this.price}}</li>
    {{/each}}
 
</ul>


<div class="botones-websocket">
    <a class="btn btn-primary" href="/products" role="button">Volver</a>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="../public/js/ws.js"></script>