<h2>CHAT</h2>
<br>

<hr>

<div id="mensajes"></div>
<input type="text" id="mensaje">

<br><br>

<a class="btn btn-primary" href="/" role="button">Volver al Listado de Productos</a>

<script src="socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../public/js/chat.js"></script>
