<div class="row">
    <div class="container recupero">
        <div class="row">
        <div class="col-md-12 login-form">
            <br><br>
            <h4>Reseteo de contraseña</h4>
            <form action="/api/sessions/recupero" method="post">

                <hr>
                <br>
            
                <div class="col-md-12 mb-4">
                    <label for="emailReg" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="emailReg" >
                </div>

                <br><br>


                <div class="botonLogin">
                    <a class="btn btn-primary w-50" href="/login" role="button">Volver</a>
                    <button type="submit" class="btn btn-primary w-50" value="Enviar">Enviar</button>
                </div>
            </form>

            </div>
        </div>
    </div>
</div>