<div>
    Todo listo para trabajar con Websockets
</div>

<br><br>

<hr id= "test">
    {{#each productos}}
        <div>
            {{this.title}}
            {{!-- <p>Descripción: {{this.description}}</p>
            <p>Precio: {{this.price}} - Stock: {{this.stock}} </p>
            <hr> --}}
        </div>
    {{/each}}
<hr>

<a href="/">Volver al Listado de Productos</a>
<script src="[socket.io/socket.io.js"></script>](http://socket.io/socket.io.js%22%3E%3C/script%3E%60%60%60)
<script src="../public/js/ws.js"></script>