<div>
    Todo listo para trabajar con Websockets
</div>

<br><br>

<hr>

    {{#each productos}} 
        <div>
            <h4>{{this.title}}</h4>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: {{this.price}} - Stock: {{this.stock}} </p>
            <hr>
        </div>
    {{/each}}

<hr>

<a href="/">Volver al Listado de Productos</a>

<script src="socket.io/socket.io.js"></script>
<script src="js/ws.js"></script>
