<div class="botones-principal">
    {{#if login}}
        {{#if (eq usuario.role 'admin')}}
            <a class="btn btn-primary" href="/realtimeproducts" role="button">Edición de Productos</a>

            <a class="btn btn-primary" href="/carts/0000" id="miCarrito" role="button">Mi Carrito</a>
        {{/if}}

        {{#if (eq usuario.role 'user-anonimo')}}
            {{!-- <a class="btn btn-primary" href="/realtimeproducts" role="button">Edición de Productos</a> --}}

            <a class="btn btn-primary" href="/chat" role="button">CHAT</a> 
        {{else}}
            <a class="btn btn-primary" href="/realtimeproducts" role="button">Edición de Productos</a>

            <a class="btn btn-primary" href="/chat" role="button">CHAT</a>

            <a class="btn btn-primary" href="/carts/0000" id="miCarrito" role="button">Mi Carrito</a>
        {{/if}}
    {{/if}}
</div>